.product-price {
  display: flex;
  align-items: center;
  column-gap: var(--font-size-medium);
  margin-bottom: 0;
}

.product-price span {
  font-size: var(--font-size-large);
}

.category {
  font-weight: var(--font-weight-semi-bold);
  color: var(--blue-color);
  display: flex;
  align-items: center;
  column-gap: var(--font-size-medium);
  margin-top: calc(var(--padding) / 2);
}

.category span {
  padding: 5px calc(var(--padding) / 2);
  background: var(--lightRed-color);
  color: #212245;
  border-radius: calc(var(--border-radius) / 2);
}

.tabs {
  border-bottom: 1px solid var(--lightRed-color);
}

.tabs h6 {
  cursor: pointer;
}

.tab-content {
  padding: 30px 0px;
}

.tab-content p {
  line-height: 30px;
  color: #212245b6;
}

.tab-active {
  color: var(--red-color);
}

.form {
  width: 60%;
  margin: auto;
  padding: var(--padding);
  border-radius: calc(var(--border-radius) / 2);
}

.form-group {
  margin-bottom: 30px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  background: var(--lightRed-color);
  padding: 7px var(--padding);
  border-radius: var(--border-radius);
  border: none;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.user-name {
  font-weight: var(--font-weight-semi-bold);
  color: var(--blue-color);
}

.user-email {
  font-size: var(--font-size-normal);
}

.feedback-text {
  color: #212245b6;
}

.img-item {
  cursor: pointer;
}

.related-Product-title {
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .product-title {
    font-size: 1.2rem;
  }

  .product-price,
  .product-price span {
    font-size: var(--font-size-medium);
  }

  .category,
  .category span {
    font-size: var(--font-size-normal) !important;
  }

  .tabs {
    margin-top: 30px;
  }

  .tabs h6 {
    font-size: var(--font-size-normal);
  }

  .tab-content p,
  .user-name,
  .feedback-text {
    font-size: var(--font-size-normal);
  }

  .user-email {
    font-size: var(--font-size-normal);
  }

  .form {
    width: 100% !important;
    margin-top: 50px;
  }

  .form-group input::placeholder,
  .form-group textarea::placeholder {
    font-size: var(--font-size-normal);
  }

  .related-Product-title {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 576px) {
  .product-imgs {
    display: flex;
    flex-direction: row;
  }

  .product-primary-img {
    margin-bottom: var(--padding);
  }
}